/*doesnt work idk why tho*/


body{
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
 }
 
 :root {
    font-size: 10px;
 }
 
 .main{
    width: 100%;
    height: 70vh;
 }
 .main img{
    height:70vh;
    width:auto;
 }
 .main p{
    color: white;
 }